@media screen and (max-width: 1000px) and (min-width: 300px) {

    #message {
        display: none;
        position: fixed;
        top: 151px;
        z-index: 999999;
        background-color: #ff7575;
        left: 10px;
        width: 433px;
        border-radius: 16px;
        padding: 10px 15px;
        font: 36px 'Montserrat', sans-serif;
        color: white;
    }
}
@media screen and (min-width: 1000px) {
    #message {
        display: none;
        position: fixed;
        top: 80px;
        z-index: 999999;
        background-color: #ff7575;
        left: 10px;
        width: 250px;
        border-radius: 5px;
        padding: 10px;
        font: 18px 'Montserrat', sans-serif;
        color: white;
    }
}